La liste des authors
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>nbbook</th>
        <th>Ajout</th>

        <th>Detail</th>
        <th>update</th>

        <th>delete</th>

    </tr>
    
{%for a in auth%}
<tr>
  <td>{{a.id}}</td>
  <td>{{a.username}}</td>
  <td>{{a.email}}</td>  
  <td>{{a.nbbooks}}</td>

  <td><a href="{{path('ajout')}}">Ajout</a></td>

  <td><a href="{{path('DD2',{'i2':a.id})}}">Detail</a></td>
  <td><a href="{{path('DD4',{'j':a.id})}}">Update</a></td>
  <td><a href="{{path('DD3',{'i3':a.id})}}">Delete</a></td>



</tr>
{%else%} <br> Tableau NotFound
{%endfor%}
</table>
